
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    background-color: rgb(167, 167, 167);
    font-family: 'Quicksand', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}

::selection { 
    color: #000; 
    background: #ff0;
}

h1 {
    font-weight: bold;
    margin: auto;
    line-height: 1.5em;
    text-align: center;
    background-image: url("logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 200px; /* or adjust to your desired height */
}

.pageHeaders{
 text-align: center;
 padding-top: 2em;

}

.pageHeaders2{
    padding-top: 10em
}

div.wrapper {
    background-color: white;
    overflow: auto;
}

p {
    margin: 1em 1em;
}


h2, h3 {
    font-weight: normal;
    margin-left: 1em;
    line-height: 1em;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    background-color: darkcyan;
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;
    padding: 3em;
}

/*
iframe {
    display: block;
    margin: auto;
    width: 90%;
    height: 5700px;
    border: 2px solid darkcyan;
}
*/


/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    div.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }
    
    img.desktop {
        width: 50%;
        float: left;
        margin-right: 2em;
        padding: 4em;
    }
    
    img.tablet, img.phone {
        display: none;
    }
    
    p {
        margin: 2em;
    }
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    div.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    img.tablet {
        width: 50%;
        float: left;
        margin-left: 1em;
        padding: 2em;
    }
    
    img.desktop, img.phone {
        display: none;
    }
}

/* PHONE */
@media all and (max-width:500px) {
    div.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
    img.phone {
        width: 100%;
        padding-top: 2em
    }
    
    img.desktop, img.tablet {
        display: none;
    }
}
@media all and (min-width:1200px) { /*second image*/
    div.wrapper {
        width: 80%;
        margin: auto;
    }

    h1 {
        width: 79%;
        padding-left: 1%;
    }
    h2 {
        padding-top: 10em;
        }
    
    img.desktop1 {
        width: 50%;
        float: right;
        margin-right: 2em;
        padding: 4em;
    }
    
    img.tablet1, img.phone1 {
        display: none;
        float: right;
    }
    
    p {
        margin: 2em;
        padding-bottom: 5em
    }
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    div.wrapper {
        width: 90%;
        margin: auto;
    }

    h1 {
        width: 89%;
        padding-left: 1%;
    }
    h2 {
        padding: 1em;

        }
    
    img.tablet1 {
        width: 50%;
        float: right;
        margin-left: 1em;
        padding: 2em;
    }
    
    img.desktop1, img.phone1 {
        display: none;
    }
    p {
        padding-bottom: 1em;
    }
}

/* PHONE */
@media all and (max-width:500px) {
    div.wrapper {
        width: 100%;
    }
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    h2 {
        padding: 3em;
        }
    
    img.phone1 {
        width: 100%;
    }
    
    img.desktop1, img.tablet1 {
        display: none;
    }
    p {
        padding-bottom: 5em;
    }
}

